
*{
  margin:0 auto;
  padding:0;
  box-sizing: border-box;
  background-color: pink;
}

[class*="col-"]{
  border: .5px solid black;
  text-align: center;
}

header .content{
  height: 100px;
}

footer .content,
main .content{
  line-height: 200px;
  height: 200px;
}

.footer.contanier .container > div{
  background-color: blue;

}
