
*{
  margin:0 auto;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: pink;
}

[class*="col-"]{
  text-align: center;
  border: .5px solid black;
  padding: 4px;
}

.content{
  position: relative;
  height:100px;
}

main span, footer span{
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}

header span{
  position: absolute;
  top: 0%;
  transform: translatex(-50%);
}


footer .container [class*="col-"]:first-of-type{
  background-color: #ff787c;
  border:1px solid white;

}
